{% extends 'navbar.html' %}

{% block content %}
  <form  action="readaddedbook" method="post">
    {% csrf_token %}
    <table align="center">
      <tr>
        <td>Book Name</td>
        <td><input type="text" name="txtBookName"></td>
      </tr>
      <tr>
        <td>Author Name</td>
        <td><input type="text" name="txtAuthorName"></td>
      </tr>
      <tr>
            <td>Course:</td>
            <td>
                <select name="ddlCourse">
                    {% for i in Course_Data %}
                        <option>{{ i.Course_Name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td><input type="submit" name="btn" value="Add"></td>
        </tr>
    </table>
  </form>

{% endblock %}